<script>
import Navbar from './Navbar.vue'

export default {
  name: 'App',

  components: {
    Navbar,
  },
}
</script>

<template>
  <div class="App jumbotron" style="padding-bottom: 300px;">
    <navbar/>
    <router-view/>
  </div>
</template>
