<template>
  <div class="autocomplete">
    <Load v-if="isLoading"/>
    <div
      v-else-if="users.length"
      v-for="(user, id) in users"
      :key="id"
      ref="id"
      :tabindex="id"
      @click="$emit('suggestClick', user.name)"
      class="autocomplete__content"
    >
      <img :src="getPhotoUrl(1)"/>
      <div>
        {{ user.name }}
        <span>@{{ user.username }}</span>
      </div>
    </div>
    <div v-else>
      Ничего не найдено
    </div>
  </div>
</template>

<script lang="ts">
import Load from './Load.vue'
import {mapActions, mapGetters, mapState} from 'vuex';
import any = jasmine.any;

let count = -1;

export default {
  name: 'AutoComplete',

  components: {Load},

  computed: {
    ...mapState([
      'users',
      'isLoading'
    ]),
    ...mapGetters([
      'getPhotoById'
    ])
  },
  methods: {
    ...mapActions([
      'getUsers',
    ]),
    // @ts-ignore
    getPhotoUrl(id: any) {
      // @ts-ignore
      return this.getPhotoById(id).thumbnailUrl;
    },
    handleInput(e: any) {
      // @ts-ignore
      let selectArray = this.$refs.id

      if ((e.code === 'Enter') || (e.code === 'ArrowUp') || (e.code === 'ArrowDown')) {
        e.preventDefault();

        // Переход по Селектору
        if (Array.isArray(selectArray)) {
          let selectAble: any;
          const selectCount = selectArray.length - 1;
          switch (e.code) {
            case 'ArrowUp':
              if (count > 0) {
                count--;
              } else {
                count = selectCount;
              }
              break;
            case 'ArrowDown':
              if (count < selectCount) {
                count++;
              } else {
                count = 0;
              }
              break;
          }
          selectAble = selectArray[count];

          if (e.code === 'Enter') {
            selectAble.click();
          } else {
            selectAble.focus();
          }
        }
      }
    }
  },
  mounted() {
    // @ts-ignore
    window.addEventListener('keydown', this.handleInput)
  },
  beforeDestroy() {
    // @ts-ignore
    window.removeEventListener('keydown', this.handleInput)
  }
}
</script>

<style lang="scss" scoped>
.autocomplete {
  position: absolute;
  background: #FFFFFF;
  cursor: pointer;
  width: 343px;
  height: 222px;
  overflow: hidden;
  //overflow-y: scroll;
  border-radius: 0 0 6px 6px;

  &__content {
    padding: 16px;
    font-size: 14px;
    line-height: 19px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      background: #F2F2F2;
    }

    &:focus-within {
      background: #F2F2F2;
      outline: 0;
    }

    div {
      padding-left: 50px;
    }

    img {
      position: absolute;
      width: 40px;
      border: 1px solid #E5E5E6;
      border-radius: 1000px;
    }
  }

  span {
    font-size: 12px;
    display: flex;
    color: #98999A;
  }
}
</style>
