<template>
  <div class="input-group">
    <div class="search">
      <input
        id="search"
        placeholder="Search"
        type="text"
        class="search__input"
        autocomplete="off"
        v-model="title"
      >
    </div>
    <auto-complete v-if="complete" @suggestClick="click"/>
  </div>
</template>

<script lang="ts">
import {HomeComponent} from './Home'
import Load from './Load.vue'
import AutoComplete from './AutoComplete.vue'
import {mapActions, mapGetters, mapState} from 'vuex';

export default HomeComponent.extend({
  components: {Load, AutoComplete},

  data: () => ({
    complete: false,
    title: ''
  }),

  computed: {
    ...mapState([
      'users',
      'isLoading'
    ]),
    ...mapGetters([
      'getPhotoById'
    ])
  },

  methods: {
    ...mapActions([
      'getPhotos',
      'getUsers',
    ]),
    click(name = '') {
      this.title = name;
      this.complete = false;
    },
    handleInput() {
      // TODO: проверка на клавиши
      if (this.complete) {
      } else {
        this.complete = true;
      }
    }
  },

  watch: {
    title() {
      const params = {text: this.title}
      this.getUsers(params)
    }
  },

  mounted() {
    const search = window.document.getElementById('search');
    if (search) {
      search.addEventListener('keydown', this.handleInput)
    }
  },
  beforeDestroy() {
    const search = window.document.getElementById('search');
    if (search) {
      search.removeEventListener('keydown', this.handleInput)
    }
  },

})
</script>
<style lang="scss" scoped>
.input-group {
  line-height: 22px;
  width: 100%;
  max-width: 343px;

  .search {
    display: flex;
    cursor: pointer;
    background: #F9F9F9;
    font-family: "Material Icons", Arial, serif;
    font-size: 24px;
    line-height: 18px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid;

    &:before {
      content: 'search';
      color: #656667;
      padding: 19px;
      padding-right: 9px;
    }

    &:focus {
      border-bottom: 1px solid;
    }

    &__input {
      font-family: Noto Sans;
      border-radius: inherit;
      outline: none;
      background: inherit;
      border: none;
      position: relative;
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
    }
  }
}
</style>

