<template>
  <div>
    <img class="rot" src="/src/images/loading.png">
  </div>
</template>

<script>
export default {
  name: 'Load'
}
</script>

<style lang="scss" scoped>
div {
  position: relative;
  top: 37.09%;
  bottom: 29.11%;
}

img.rot {
  position: relative;
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 1s linear 0s normal none infinite running rot;
  width: 72px;
  left: 39.36%;
  right: 39.65%;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
