<template>
  <nav class="navbar navbar-expand-lg navbar-light">
    <router-link class="navbar-brand" :to="{name: 'home'}">Vue.js</router-link>
    <ul class="navbar-nav mr-auto">
      <router-link :to="{ name: links[0].name }" active-class="active" class="nav-item nav-link" :exact="true">
        {{ links[0].title }}
      </router-link>
    </ul>
  </nav>
</template>
<script>
export default {
  name: 'Navbar',
  data() {
    return {
      links: [
        { title: 'Автозаполнение', name: 'home' },
      ],
    }
  },
}
</script>
